In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/KIA', delimiter=';', encoding='utf-8')
df.head()

,Unnamed: 0,модель,тип двигателя,коробка передач,мощность мотора,страна сборки,количество владельцев,год выпуска,пробег,без дтп,цена
0,0,RIO,GASOLINE,AUTOMATIC,97,KOREAN,4,2010,182000,True,530000
1,1,CEED,GASOLINE,MECHANICAL,122,KOREAN,3,2007,189000,True,550000
2,2,CEED,GASOLINE,AUTOMATIC,129,KOREAN,3,2013,111000,True,920000
3,3,CEED,GASOLINE,MECHANICAL,115,KOREAN,2,2008,205000,True,470000
4,4,CEED,DIESEL,MECHANICAL,115,KOREAN,4,2008,197000,True,590000

In [3]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,модель,тип двигателя,коробка передач,мощность мотора,страна сборки,количество владельцев,год выпуска,пробег,без дтп,цена
0,RIO,GASOLINE,AUTOMATIC,97,KOREAN,4,2010,182000,True,530000
1,CEED,GASOLINE,MECHANICAL,122,KOREAN,3,2007,189000,True,550000
2,CEED,GASOLINE,AUTOMATIC,129,KOREAN,3,2013,111000,True,920000
3,CEED,GASOLINE,MECHANICAL,115,KOREAN,2,2008,205000,True,470000
4,CEED,DIESEL,MECHANICAL,115,KOREAN,4,2008,197000,True,590000

In [4]:
df.dtypes

модель                   object
тип двигателя            object
коробка передач          object
мощность мотора           int64
страна сборки            object
количество владельцев     int64
год выпуска               int64
пробег                    int64
без дтп                    bool
цена                      int64
dtype: object

In [5]:
df['модель'].value_counts()

RIO         302
SPORTAGE    233
CEED        226
SORENTO     143
OPTIMA      133
CERATO      111
K5          109
SOUL         73
PICANTO      49
SELTOS       39
SPECTRA      38
CARNIVAL     31
MOHAVES      23
STINGER      13
VENGA         9
MAGENTIS      7
PROCEED       5
OPIRUS        5
QUORIS        5
XCEED         4
CARENS        4
CEED_GT       3
K8            1
K900          1
K7            1
MORNING       1
CLARUS        1
SHUMA         1
PRIDE         1
Name: модель, dtype: int64

In [6]:
drops = ['XCEED', 'CARENS', 'CEED_GT', 'K8', 'K900', 'K7', 'MORNING', 'CLARUS', 'SHUMA', 'PRIDE']
for drop in drops:
  df.drop(df.index[df['модель'] == drop], inplace=True)

In [7]:
df['страна сборки'].value_counts()

KOREAN    1554
Name: страна сборки, dtype: int64

In [8]:
df = df.drop('страна сборки', axis=1)

In [9]:
df['модель'] = df['модель'].astype('category')
df['тип двигателя'] = df['тип двигателя'].astype('category')
df['коробка передач'] = df['коробка передач'].astype('category')

In [10]:
df.head()

,модель,тип двигателя,коробка передач,мощность мотора,количество владельцев,год выпуска,пробег,без дтп,цена
0,RIO,GASOLINE,AUTOMATIC,97,4,2010,182000,True,530000
1,CEED,GASOLINE,MECHANICAL,122,3,2007,189000,True,550000
2,CEED,GASOLINE,AUTOMATIC,129,3,2013,111000,True,920000
3,CEED,GASOLINE,MECHANICAL,115,2,2008,205000,True,470000
4,CEED,DIESEL,MECHANICAL,115,4,2008,197000,True,590000

In [11]:
df.dtypes
df.insert(1, 'модель кат', df['модель'].cat.codes)
df.insert(3, 'тип двигателя кат', df['тип двигателя'].cat.codes)
df.insert(5, 'коробка передач кат', df['коробка передач'].cat.codes)
df.head()

,модель,модель кат,тип двигателя,тип двигателя кат,коробка передач,коробка передач кат,мощность мотора,количество владельцев,год выпуска,пробег,без дтп,цена
0,RIO,11,GASOLINE,1,AUTOMATIC,0,97,4,2010,182000,True,530000
1,CEED,1,GASOLINE,1,MECHANICAL,1,122,3,2007,189000,True,550000
2,CEED,1,GASOLINE,1,AUTOMATIC,0,129,3,2013,111000,True,920000
3,CEED,1,GASOLINE,1,MECHANICAL,1,115,2,2008,205000,True,470000
4,CEED,1,DIESEL,0,MECHANICAL,1,115,4,2008,197000,True,590000

In [12]:
df['без дтп'] = df['без дтп'].replace({ True : 1 , False : 0 })
df.head()

,модель,модель кат,тип двигателя,тип двигателя кат,коробка передач,коробка передач кат,мощность мотора,количество владельцев,год выпуска,пробег,без дтп,цена
0,RIO,11,GASOLINE,1,AUTOMATIC,0,97,4,2010,182000,1,530000
1,CEED,1,GASOLINE,1,MECHANICAL,1,122,3,2007,189000,1,550000
2,CEED,1,GASOLINE,1,AUTOMATIC,0,129,3,2013,111000,1,920000
3,CEED,1,GASOLINE,1,MECHANICAL,1,115,2,2008,205000,1,470000
4,CEED,1,DIESEL,0,MECHANICAL,1,115,4,2008,197000,1,590000

In [13]:
df_model = df.drop(['модель', 'тип двигателя', 'коробка передач'], axis=1)
df_model.head()

,модель кат,тип двигателя кат,коробка передач кат,мощность мотора,количество владельцев,год выпуска,пробег,без дтп,цена
0,11,1,0,97,4,2010,182000,1,530000
1,1,1,1,122,3,2007,189000,1,550000
2,1,1,0,129,3,2013,111000,1,920000
3,1,1,1,115,2,2008,205000,1,470000
4,1,0,1,115,4,2008,197000,1,590000

In [14]:
df_model.to_csv('df_model')